.PageNavBtns{
  line-height: 10px;
  /* display: flex; */
  /* align-items: center;
  justify-content: space-between; */
  /* flex-direction: row; */
}

.PageNavBtns .fas{
  font-size: 20px;
  color:#008489;
  border-radius: 50%;
  border: 2px solid;
  width: 30px;
  height: 30px;
}

.pagination{
  background: red;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationBtn {
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  border: none;
  color:#008489;
  height: 25px;
  width: 25px;
  margin: 3px;
  display: inline-flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationBtn:hover {
  text-decoration: underline;
}

.paginationBtn:focus {
  background:#008489;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .paginationBtn{
    display: none;
  }
}
