.review {
  line-height: 20.02px;
  letter-spacing: normal;
  text-align: start;
}

img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.name {
  font-size: 16px;
  line-height: 22px;
}

.date {
  font-size: 14px;
}
