.search {
  fill: #484848;
  line-height: 20.02px;
  font-size: 14px;
  width: 205px;
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.searchBar {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: normal;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 20px;
  left: 7px;
  font-size: 16px;
}

.x {
  position: absolute;
  top: 18px;
  left: 180px;
  font-size: 16px;
}
