.searchStats{
  display: inline-flex;
  justify-content: space-between;
  width: 90vw;
}

.searchStats p{
  font-size: 14px;
}

.backToReviews{
  color: #008489;
}

.backToReviews:hover{
  text-decoration: underline;
}