.stars {
  font-size: 18px;
  line-height: 25.74px;
  fill: #484848;
  position: relative;
  display: inline-block;
}

.stars:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: #d8d8d8;
}

.stars:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: #008489;
  overflow: hidden;
}

.stars-0:after{width:0%;}
.stars-10:after{width:10%;}
.stars-20:after{width:20%;}
.stars-30:after{width:30%;}
.stars-40:after{width:40%;}
.stars-50:after{width:50%;}
.stars-60:after{width:60%;}
.stars-70:after{width:70%;}
.stars-80:after{width:90%;}
.stars-90:after{width:90%;}
.stars-100:after{width:100%;}
